extend layout

block prepend links
      - var homeURL = '/Home/' + user.id;
      - var adURL = '/AdventureAnalytics/' + user.id;
      - var travelURL = '/TravelLog/' + user.id;

block content

  div(class="container")
    div(class="jumbotron")
      h1 #{adventureName}

  div.content
    img(src=""+ adventureContent.image,
    style="width:600px; height: 200px;",
    alt="")

  div.content
    p First Visit: #{adventureContent.Date_Visited}
  
  div.content
    p Times Visited: #{adventureContent.Times_Visited}

  div.content
    p Rating: #{adventureContent.Rating}

  div.content
    p Hours Spent: #{adventureContent.Hours_Spent}

  div.content
    p Description: #{adventureContent.Description}
