extend layout

block content
        h1 MAP
        p Welcome to the #{title}!
        link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css')
        #map(style='height: 500px;')
        script(src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js')
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
        script.
            function onMapClick(e){
                alert("wow" + e.latlng.toString() + "!" + e.latlng.lat);
                $.post("/LoggedAdventures/?lat=" + e.latlng.lat + "&lng=" + e.latlng.lng );
            }
            var map = L.map("map").setView([51.505, -0.09], 13);
            var marker = L.marker([#{markers[0].lat}, #{markers[0].lng}]).addTo(map);
            var marker1 = L.marker([#{markers[1].lat}, #{markers[1].lng}]).addTo(map);
            var marker2 = L.marker([#{markers[2].lat}, #{markers[2].lng}]).addTo(map);
            map.on('click', onMapClick);
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);
             
