extend layout
block content

  p.hi
    p Travel Log
    a(href="/Home")
      div(class = "image", )
        img(src= "http://ucpa.ucsd.edu/images/work/_standard/geisel-wss-1.jpg",
        style="width:600px; height: 200px;",
        alt="")
        h2
          span Geisel Library
    
    a(href="/Home")
      div(class = "image")
        img(src= "http://travelchannel.sndimg.com/content/dam/images/travel/fullset/2014/12/3/top-10-caribbean-beaches-eagle-beach-aruba.jpg.rend.tccom.1280.960.jpeg",
        style="width:600px; height: 200px;",
        alt="")
        h2
          span Black's Beach

    a(href="/Home")
      div(class = "image")
        img(src= "http://californiathroughmylens.com/wp-content/uploads/2012/06/Potato-Chip-Rock.jpg",
        style="width:600px; height: 200px;",
        alt="")
        h2
          span Potato Chip Rock
